* { 
  font-family: 'Roboto', sans-serif;
} 
  
body, html {
  background-color: rgb(35, 34, 34)
}

#title, #description, #mtd, #discord-server-text {
  color: white;
}

/* Happy birthday, Sasuki! -void */
